<a href="https://colab.research.google.com/github/Sandeepdora/Coursera_Capstone/blob/master/week3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1st question

In [0]:
import numpy as np
import pandas as pd

In [30]:
data = pd.read_csv('toronto.txt')
data.columns = ['PostalCode', 'Borough', 'Neighborhood']
data.head(11)

   PostalCode           Borough      Neighborhood
0         M2A      Not assigned      Not assigned
1         M3A        North York         Parkwoods
2         M4A        North York  Victoria Village
3         M5A  Downtown Toronto      Harbourfront
4         M6A        North York  Lawrence Heights
5         M6A        North York    Lawrence Manor
6         M7A      Queen's Park      Not assigned
7         M8A      Not assigned      Not assigned
8         M9A  Downtown Toronto      Queen's Park
9         M1B       Scarborough             Rouge
10        M1B       Scarborough           Malvern

In [31]:
indexes = data[data['Borough'] == 'Not assigned'].index
data.drop(indexes, inplace = True)
data

    PostalCode           Borough              Neighborhood
1          M3A        North York                 Parkwoods
2          M4A        North York          Victoria Village
3          M5A  Downtown Toronto              Harbourfront
4          M6A        North York          Lawrence Heights
5          M6A        North York            Lawrence Manor
..         ...               ...                       ...
280        M8Z         Etobicoke  Kingsway Park South West
281        M8Z         Etobicoke                 Mimico NW
282        M8Z         Etobicoke        The Queensway West
283        M8Z         Etobicoke     Royal York South West
284        M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [32]:
data.loc[data['Neighborhood'] == 'Not assigned'] = data['Borough']
data.head()

  PostalCode           Borough      Neighborhood
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor

In [0]:
df = data.groupby(['PostalCode', 'Borough'], sort = False).agg(','.join)

In [47]:
df_1 = df.reset_index()
df_1.head(10)

     PostalCode           Borough                     Neighborhood
0           M3A        North York                        Parkwoods
1           M4A        North York                 Victoria Village
2           M5A  Downtown Toronto                     Harbourfront
3           M6A        North York  Lawrence Heights,Lawrence Manor
4  Queen's Park      Queen's Park                     Queen's Park
5           M9A  Downtown Toronto                     Queen's Park
6           M1B       Scarborough                    Rouge,Malvern
7           M3B        North York                  Don Mills North
8           M4B         East York   Woodbine Gardens,Parkview Hill
9           M5B  Downtown Toronto          Ryerson,Garden District

In [49]:
df_1.shape

(103, 3)

2nd Question

In [50]:
gg = pd.read_csv('Geospatial_Coordinates.csv')
gg.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [52]:
df_1['Latitude'] = gg['Latitude']
df_1

       PostalCode  ...   Latitude
0             M3A  ...  43.806686
1             M4A  ...  43.784535
2             M5A  ...  43.763573
3             M6A  ...  43.770992
4    Queen's Park  ...  43.773136
..            ...  ...        ...
98            M8X  ...  43.706876
99            M4Y  ...  43.696319
100           M7Y  ...  43.688905
101           M8Y  ...  43.739416
102           M8Z  ...  43.706748

[103 rows x 4 columns]

In [53]:
df_1['Longitude'] = gg['Longitude']
df_1

       PostalCode           Borough  ...   Latitude  Longitude
0             M3A        North York  ...  43.806686 -79.194353
1             M4A        North York  ...  43.784535 -79.160497
2             M5A  Downtown Toronto  ...  43.763573 -79.188711
3             M6A        North York  ...  43.770992 -79.216917
4    Queen's Park      Queen's Park  ...  43.773136 -79.239476
..            ...               ...  ...        ...        ...
98            M8X         Etobicoke  ...  43.706876 -79.518188
99            M4Y  Downtown Toronto  ...  43.696319 -79.532242
100           M7Y      East Toronto  ...  43.688905 -79.554724
101           M8Y         Etobicoke  ...  43.739416 -79.588437
102           M8Z         Etobicoke  ...  43.706748 -79.594054

[103 rows x 5 columns]